<div class="navbar">
  <div class="logo"><%= link_to 'LE BARDA', root_path %></div>
  <div class="menu-items">
    <div class="menu-item"><%= link_to 'HOME', root_path %></div>
    <div class="menu-item"><%= link_to 'COLLECTIONS', collections_path %></div>
    <div class="menu-item"><%= link_to 'ALL ITEMS', products_path %></div>
  </div>
  <div class="social-items">
    <i class="fa fa-instagram" aria-hidden="true"></i>
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
  </div>
</div>

